@import '../../sass/variables';

.app-wrapper {
  display: flex;
  justify-content: space-between;
  user-select: none;
}

.connection-settings {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 300px;
  top: 10px;
  right: 10px;

  button {
    margin-right: 35px;
  }
}

.status-wrapper {
  display: flex;
  justify-content: center;
  font-size: 16px;
  align-items: center;
  margin-top: 20px;

  div:last-child {
    width: 11px;
    height: 11px;
    border-radius: 50%;
    margin: 0 5px;
    margin-top: 5px;
  }

  .on {
    background-color: green;
  }

  .off {
    background-color: red;
  }
}

.main-container.spins.party-poker {
  position: absolute;
  background-color: lightgrey;
  border: 1px solid red;
  width: 712px;
  height: 518px;
  font-family: Arial, sans-serif;
  font-size: 22px;
  zoom: 0.65;
}

.main-container.left {
  left: 25px;
}
.main-container.right {
  left: 800px;
}
.main-container.top {
  top: 30px;
}
.main-container.bottom {
  top: 616px;
}

.upload-wrapper .custom-file-upload {
  min-width: 76px;
}

.main-container.spins.party-poker .player,
.main-container.spins.party-poker .prompt {
  position: absolute;
  display: flex;
  flex-direction: column;
  padding: 3px;
}

.main-container.spins.party-poker .prompt {
  border: none;
  left: 75px;
  top: 200px;
  font-size: 28px;
  width: 500px;
}

.main-container.spins.party-poker .prompt .prompt-moves {
  list-style: none;
  position: relative;
  top: -90px;
  width: 550px;
}

.prompt .prompt-moves td {
  width: 275px;
}

.prompt-moves li .probab {
  color: white;
}

.prompt-moves li .regret {
  color: #2912cc;
}

.prompt-moves tr td:first-child {
  text-align: right;
  padding-right: 5px;
}

.prompt-moves tr td:last-child {
  text-align: left;
  padding-left: 5px;
  color: #2912cc;
}

.main-container.spins.party-poker .prompt .sizings table {
  font-size: 14px;
}
.main-container.spins.party-poker .prompt .sizings table tr {
  line-height: 13px;
}

td.ev {
  padding-left: 10px;
}

.diagram {
  display: flex;
  margin: 15px 0;
}

.diagram > div {
  height: 20px;
}

.diagram .fold {
  background-color: black;
}
.diagram .check-call {
  background-color: yellow;
}
.diagram .bet-raise {
  background-color: #d90000;
}

.fold {
  color: black;
}
.check-call {
  color: #92923d;
}
.bet-raise {
  color: #d90000;
}
.ev {
  color: green;
}

.main-container.spins.party-poker .board {
  display: flex;
  position: absolute;
  left: 254px;
  top: 50px;
  width: 200px;
  justify-content: space-around;
  font-size: 22px;
}
.main-container.spins.party-poker .board .pot {
  position: absolute;
  top: -42px;
  left: 35px;
  font-size: 23px;
  color: #000;
  width: 165px;
}
.main-container.spins.party-poker .hero-hand {
  display: flex;
  position: absolute;
  left: 312px;
  top: 389px;
  width: 76px;
  justify-content: space-around;
  font-size: 22px;
}
.main-container.spins.party-poker .cards {
  border-radius: 4px;
  width: 35px;
  text-align: center;
  color: white;
}
.main-container.spins.party-poker .suit {
  font-size: 30px;
  margin-top: -9px;
}

.main-container.spins.party-poker .hearts {
  background-color: #d90000;
}
.main-container.spins.party-poker .diamonds {
  background-color: rgba(0, 0, 255, 0.7);
}
.main-container.spins.party-poker .clubs {
  background-color: green;
}
.main-container.spins.party-poker .spades {
  background-color: #383838;
}

.amount {
  position: absolute;
  font-size: 21px;
}
.dealer {
  position: absolute;
  font-size: 15px;
  border: 1px solid grey;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background-color: white;
}

.test {
  color: rgb(60, 0, 0);
}

.dealer span {
  position: relative;
  left: 1px;
  top: 1px;
  color: #000;
}

.main-container.spins.party-poker .player .nickname {
  position: absolute;
  top: -20px;
  color: blue;
}

.main-container.spins.party-poker .player.player0 {
  left: 50px;
  top: 50px;
}
.main-container.spins.party-poker .player.player1 {
  right: 90px;
  top: 50px;
}
.main-container.spins.party-poker .player.player2 {
  left: 300px;
  bottom: 34px;
}

.balance {
  color: #000;
  font-size: 20px;
}

.main-container.spins.party-poker .player.player0 .amount {
  left: 117px;
  top: 11px;
  white-space: nowrap;
}
.main-container.spins.party-poker .player.player0 .dealer {
  left: 38px;
  top: 40px;
}
.main-container.spins.party-poker .player.player1 .amount {
  left: -86px;
  top: 11px;
  white-space: nowrap;
}
.main-container.spins.party-poker .player.player1 .dealer {
  left: 0px;
  top: 40px;
}
.main-container.spins.party-poker .player.player2 .amount {
  left: 120px;
  top: -87px;
  white-space: nowrap;
}
.main-container.spins.party-poker .player.player2 .dealer {
  left: 129px;
  top: -45px;
}

.red {
  color: red;
}

.green {
  color: #50b22f;
}

.debug-info {
  position: absolute;
  bottom: 10px;
  left: 39%;
  font-size: 20px;
}

.debugTable {
  position: absolute;
  text-align: left;
  bottom: 0;
  color: black;
}

.debug-info-str {
  color: green;
}

.debug-info-str.true {
  color: red;
}

.hero-buttons {
  display: flex;
  justify-content: space-between;
  width: 230px;
  height: 40px;
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.hero-buttons div {
  width: 68px;
  height: 100%;
  background-color: #7d7d7d;
  border-radius: 5px;
}



@media (max-width: $mobile-width) {
  .upload-wrapper {
    width: 100%;
    flex-wrap: nowrap;

    .custom-file-upload {
      margin-left: 0;
      box-sizing: border-box;
    }
    button {
      width: 20%;
      box-sizing: border-box;
    }
  }
}